## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database/WeatherPy_Database.csv")
city_data_df.head(15)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,58.06,81,39,5.41,scattered clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,35.26,87,75,29.93,light snow
2,2,Mingguang,CN,32.7802,117.9638,68.58,74,100,1.12,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,39.31,75,0,19.57,clear sky
4,4,Debre Tabor,ET,11.8500,38.0167,74.66,22,97,8.55,overcast clouds
5,5,Castro,BR,-24.7911,-50.0119,68.27,48,9,5.03,clear sky
6,6,Flinders,AU,-34.5833,150.8552,60.39,85,35,1.99,scattered clouds
7,7,Hami,CN,42.8000,93.4500,86.68,11,81,10.51,broken clouds
8,8,Iqaluit,CA,63.7506,-68.5145,11.93,72,75,3.44,broken clouds
9,9,Abu Dhabi,AE,24.4667,54.3667,96.82,36,0,20.71,clear sky
10,10,Tuy Hoa,VN,13.0833,109.3000,79.65,79,83,4.00,broken clouds
11,11,Sola,VU,-13.8833,167.5500,80.78,79,29,16.37,scattered clouds
12,12,Avarua,CK,-21.2078,-159.7750,71.65,100,73,3.44,broken clouds
13,13,Gamba,GA,-2.6500,10.0000,79.77,70,91,6.91,overcast clouds
14,14,Aswan,EG,24.0934,32.9070,105.10,7,0,10.36,clear sky

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 85

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,58.06,81,39,5.41,scattered clouds
2,2,Mingguang,CN,32.7802,117.9638,68.58,74,100,1.12,overcast clouds
4,4,Debre Tabor,ET,11.8500,38.0167,74.66,22,97,8.55,overcast clouds
5,5,Castro,BR,-24.7911,-50.0119,68.27,48,9,5.03,clear sky
6,6,Flinders,AU,-34.5833,150.8552,60.39,85,35,1.99,scattered clouds
10,10,Tuy Hoa,VN,13.0833,109.3000,79.65,79,83,4.00,broken clouds
11,11,Sola,VU,-13.8833,167.5500,80.78,79,29,16.37,scattered clouds
12,12,Avarua,CK,-21.2078,-159.7750,71.65,100,73,3.44,broken clouds
13,13,Gamba,GA,-2.6500,10.0000,79.77,70,91,6.91,overcast clouds
15,15,Half Moon Bay,US,37.4636,-122.4286,58.03,91,100,12.66,mist

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                8
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,58.06,81,39,5.41,scattered clouds
2,2,Mingguang,CN,32.7802,117.9638,68.58,74,100,1.12,overcast clouds
4,4,Debre Tabor,ET,11.8500,38.0167,74.66,22,97,8.55,overcast clouds
5,5,Castro,BR,-24.7911,-50.0119,68.27,48,9,5.03,clear sky
6,6,Flinders,AU,-34.5833,150.8552,60.39,85,35,1.99,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
715,715,Tirumullaivasal,IN,11.2333,79.8333,84.83,74,43,19.69,scattered clouds
718,718,Brus Laguna,HN,15.7500,-84.4833,80.47,81,100,4.34,overcast clouds
720,720,Zharkent,KZ,44.1628,80.0000,72.45,56,93,13.47,overcast clouds
721,721,Shiyan,CN,32.6475,110.7781,74.41,66,100,3.31,overcast clouds
722,722,Kuybyshevo,RU,47.8123,38.9073,66.70,56,100,16.24,overcast clouds

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,58.06,scattered clouds,-33.8667,121.9000,
2,Mingguang,CN,68.58,overcast clouds,32.7802,117.9638,
4,Debre Tabor,ET,74.66,overcast clouds,11.8500,38.0167,
5,Castro,BR,68.27,clear sky,-24.7911,-50.0119,
6,Flinders,AU,60.39,scattered clouds,-34.5833,150.8552,
10,Tuy Hoa,VN,79.65,broken clouds,13.0833,109.3000,
11,Sola,VU,80.78,scattered clouds,-13.8833,167.5500,
12,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,
13,Gamba,GA,79.77,overcast clouds,-2.6500,10.0000,
15,Half Moon Bay,US,58.03,mist,37.4636,-122.4286,

In [96]:
import json

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
     
    lat = row["Lat"]
    lng = row["Lng"]
    
    #params["location"] = f"{lat},{lng}"
    params["location"] = f"{lat},{lng}" 
    
     # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [97]:
# 7. Drop the rows where there is no Hotel Name.

#hotel_df.isnull().sum()
#clean_hotel_df = hotel_df.dropna()

clean_hotel_df = clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Esperance,AU,58.06,scattered clouds,-33.8667,121.9000,Hospitality Esperance
2,Mingguang,CN,68.58,overcast clouds,32.7802,117.9638,Yonghao Hotel
4,Debre Tabor,ET,74.66,overcast clouds,11.8500,38.0167,Bahirdar
5,Castro,BR,68.27,clear sky,-24.7911,-50.0119,CHACARA BAILLY
6,Flinders,AU,60.39,scattered clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
10,Tuy Hoa,VN,79.65,broken clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
11,Sola,VU,80.78,scattered clouds,-13.8833,167.5500,Leumerus Bungalows
12,Avarua,CK,71.65,broken clouds,-21.2078,-159.7750,Paradise Inn
15,Half Moon Bay,US,58.03,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
16,Bredasdorp,ZA,64.04,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor

In [98]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [119]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and </dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
location = clean_hotel_df[["Lat", "Lng"]]

In [120]:
# 11a. Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))